* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn-primary-color {
    background-color: #B68C5A;
}

.btn-primary-color:hover {
    background-color: rgba(63, 36, 1, 0.623);
    color: rgb(224, 224, 224);
    transition: 0.4s;
}

.banner-container {
    height: 750px;
    background-image: url('./images/Rectangle-4.png'), url('./images/Rectangle-5.png');
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
}

.carousel-img {
    filter: brightness(60%);
    height: 700px;
}